{% extends 'catalog/index.html' %}
{% block content %}

<br>
<main class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
          <a class="btn btn-outline-dark" href="{% url 'blog:blog_form' %}">Написать отзыв</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row mb-1">
    {% for blog in object_list %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <p style="font-size:20px" class="card-text"><b>{{ blog.tittle }}</b></p>
          <div class="mb-1 text-body-secondary">{{ blog.created_at }}</div>
          <p class="card-text mb-auto">{{blog.text | truncatewords:20 }}</p>
          <br>
          <div class="btn-group">
            <a class="p-2 btn btn-outline-dark" href="{% url 'blog:blog_detail' blog.pk %}">Посмотреть</a>
            <a class="p-2 btn btn-outline-dark" href="{% url 'blog:blog_update' blog.pk %}">Редактировать</a>
            <a class="p-2 btn btn-outline-dark" href="{% url 'blog:blog_delete' blog.pk %}">Удалить</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}