{% extends 'index.html' %}
{% block content %}

<h3>Добавление продукта в базу данных</h3>
<form enctype="multipart/form-data" method="post" id="product_form" novalidate><input type="hidden" name="csrfmiddlewaretoken" value="YyDggXWFD6Wp2dFAnSlSRAGyGXXhud5WqFLCEfPn2vWEAWje52McxQx7m7GEMFvJ">
<div>







  <fieldset class="module aligned ">



        <div class="form-row field-name">


                <div>

                        <div class="flex-container">

                                <label class="required" for="id_name">Наименование:</label>

                                    <input type="text" name="name" class="vTextField" maxlength="100" required aria-describedby="id_name_helptext" id="id_name">


                        </div>

                        <div class="help" id="id_name_helptext">
                            <div>Введите название товара</div>
                        </div>

                </div>


        </div>

        <div class="form-row field-description">


                <div>

                        <div class="flex-container">

                                <label class="required" for="id_description">Описание:</label>

                                    <textarea name="description" cols="40" rows="10" class="vLargeTextField" required aria-describedby="id_description_helptext" id="id_description">
</textarea>


                        </div>

                        <div class="help" id="id_description_helptext">
                            <div>Введите описание товара</div>
                        </div>

                </div>


        </div>

        <div class="form-row field-image">


                <div>

                        <div class="flex-container">

                                <label for="id_image">Изображение:</label>

                                    <input type="file" name="image" accept="image/*" aria-describedby="id_image_helptext" id="id_image">


                        </div>

                        <div class="help" id="id_image_helptext">
                            <div>Загрузите изображение продукта</div>
                        </div>

                </div>


        </div>

        <div class="form-row field-category">


                <div>

                        <div class="flex-container">

                                <label class="required" for="id_category">Название категории:</label>

                                    <div class="related-widget-wrapper" data-model-ref="Категория">
    <select name="category" required aria-describedby="id_category_helptext" id="id_category">
  <option value="" selected>---------</option>

  <option value="2">Laptops</option>

  <option value="1">Smartphones</option>

  <option value="3">TVs</option>

</select>

        <a class="related-widget-wrapper-link change-related" id="change_id_category"
            data-href-template="/admin/catalog/category/__fk__/change/?_to_field=id&amp;_popup=1"
            data-popup="yes"
            title="Изменить выбранный объект типа "Категория""><img src="/static/admin/img/icon-changelink.svg" alt="" width="20" height="20"></a><a class="related-widget-wrapper-link add-related" id="add_id_category"
            data-popup="yes"
            href="/admin/catalog/category/add/?_to_field=id&amp;_popup=1"
            title="Добавить ещё один объект типа "Категория""><img src="/static/admin/img/icon-addlink.svg" alt="" width="20" height="20"></a><a class="related-widget-wrapper-link view-related" id="view_id_category"
             data-href-template="/admin/catalog/category/__fk__/change/?_to_field=id"
             title="Просмотреть выбранный объект типа "Категория""><img src="/static/admin/img/icon-viewlink.svg" alt="" width="20" height="20"></a>

</div>


                        </div>

                        <div class="help" id="id_category_helptext">
                            <div>Выберите категорию</div>
                        </div>

                </div>


        </div>

        <div class="form-row field-price">


                <div>

                        <div class="flex-container">

                                <label class="required" for="id_price">Цена:</label>

                                    <input type="number" name="price" class="vIntegerField" required aria-describedby="id_price_helptext" id="id_price">


                        </div>

                        <div class="help" id="id_price_helptext">
                            <div>Введите цену товара</div>
                        </div>

                </div>


        </div>

</fieldset>



{% endblock %}