{% extends 'index.html' %}
{% block content %}

<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card">
            <a href="/category/1">
              <img class="img-fluid" src="/media/product/images/samsung.jpg" alt="Товар">
              <div class="card-body">
                <p class="card-text text-center" style="font-size:20px"><b>Смартфоны</b></p>
              </div>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <a href="/category/2">
              <img class="img-fluid" src="/media/product/images/laptop.jpg" alt="Товар">
              <div class="card-body">
                <p class="card-text text-center" style="font-size:20px"><b>Ноутбуки</b></p>
              </div>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <a href="/category/3">
              <img class="img-fluid" src="/media/product/images/tv.jpg" alt="Товар">
              <div class="card-body">
                <p class="card-text text-center" style="font-size:20px"><b>Телевизоры</b></p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}