{% extends 'index.html' %}
{% load my_tags %}
{% block content %}

<div class="py-2 container">
  <a href="/category/1"><span class="badge text-bg-dark" style="font-size:20px">Смартфоны</span></a>
  <a href="/category/2"><span class="badge text-bg-dark" style="font-size:20px">Ноутбуки</span></a>
  <a href="/category/3"><span class="badge text-bg-dark" style="font-size:20px">Телевизоры</span></a>
</div>


<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for product in products %}
      <div class="col">
        <div class="card shadow-sm">
          <img src="{{ product.image | media_filter }}" alt="Товар">
          <div class="card-body">
            <p style="font-size:20px" class="card-text"><b>{{ product.name }}</b></p>
            <p class="card-text"><small>{{ product.description | truncatewords:100 }}</small></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="p-2 btn btn-outline-primary" href="/product/{{ product.pk }}/">Посмотреть</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}